# Maven Target Directory
target/
*.class
backend/target/
backend/*.class

# Maven installation directory
maven/

# Temp/logs
*.log
exports/

# OS/IDE configs
.idea/
*.iml
.project
.classpath
.settings/
.DS_Store
Thumbs.db

# Local temporary packages
Adoptium/
adoptium/
*.zip
*.tar.gz
